<!DOCTYPE html>
<html>
    <head>
      {% if title %}
        <title>{{ title }} - Title</title>
      {% else %}
        <title>MyApp</title>
      {% endif %}
    </head>
    <body>
        MyApp: <a href="{{ url_for('index') }}">Главная</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('lk') }}">Личный кабинет</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
        {% else %}
            <a href="{{ url_for('register') }}">Регистрация</a>
            <a href="{{ url_for('login') }}">Войти</a>
        {% endif %}

        {% block content %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% block app_content %}{% endblock %}
        {% endblock %}
    </body>
</html>